<form [formGroup]="formErrorService" (ngSubmit)="submitForm()" *ngIf="!loading">

  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <p-scrollPanel [style]="{width: '100%', height: '50%'}">
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Application Name:
        </div>
        <div class="ui-grid-col-5">
          <!--input pInputText type="text" formControlName="APPLICATION_NAME" placeholder="Required"-->
          <p-autoComplete formControlName="APPLICATION_NAME" [suggestions]="apps_names" (completeMethod)="search($event)" placeholder="Required" (onSelect)="getServices()" (onClear)="reset()"></p-autoComplete>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Service:
        </div>
        <div class="ui-grid-col-5">
          <!--p-autoComplete formControlName="SERVICE" [suggestions]="catalogs" (completeMethod)="searchService($event)" placeholder="Required" [disabled]="appNameFilled" ></p-autoComplete-->
          <p-dropdown [options]="servicesDropdown" formControlName="Catalog" [disabled]="appNameFilled"></p-dropdown>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          System Native Code *:
        </div>
        <div class="ui-grid-col-5">
          <input pInputText type="text" formControlName="SYSTEM_NATIVE_CODE" placeholder="Required"/>
        </div>
        <div class="ui-grid-col-4">
          <p-message severity="error" text="System Native Code is required"
                     *ngIf="!formErrorService.controls['SYSTEM_NATIVE_CODE'].valid&&formErrorService.controls['SYSTEM_NATIVE_CODE'].dirty"></p-message>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Error Code:
        </div>
        <div class="ui-grid-col-5">
          <p-autoComplete formControlName="ErrorCode" [suggestions]="errorCodes" (completeMethod)="searchErrorCode($event)"></p-autoComplete>
        </div>
      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-3">
          Is Error *:
        </div>
        <div class="ui-grid-col-5">
          <div class="ui-g-12"><p-checkbox name="IS_ERROR" [value]="IS_ERROR" (onChange)="isError()" formControlName="IS_ERROR"></p-checkbox></div>
        </div>
        <div class="ui-grid-col-4">
        </div>
      </div>

      <div class="ui-grid-row" style="margin-top: 20px; margin-bottom: 20px">
        <div class="ui-grid-col-3"></div>
        <div class="ui-grid-col-5">

        </div>
        <div class="ui-grid-col-4"></div>
      </div>
    </p-scrollPanel>
  </div>

  <p-footer>
    <button pButton type="submit" icon="pi pi-check" label="Submit" [disabled]="!formErrorService.valid"></button>
    <button pButton type="button" icon="pi pi-close" (click)="cancel()" class="ui-button-secondary" label="Cancel"></button>
  </p-footer>
</form>










