<p-toast></p-toast>
<p-menubar [model]="items"></p-menubar>
<div class="ui-g-12" *ngIf="isLoading">
  <p-progressSpinner  [style]="{width: '50px', height: '50px'}" strokeWidth="6"></p-progressSpinner>
</div>

<p-dialog [(visible)]="display" [modal]="true" [responsive]="true" [style]="{minWidth: '600px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" (onHide)="close()">
  <p-header>
    {{selectedErrorCode == null ? 'Add New Error Code' : 'Edit'}}
  </p-header>

  <!-- FORM -->

  <app-error-code-form *ngIf="selectedErrorCode != null"
                       EAI_ERROR_CODE_ID="{{selectedErrorCode.EAI_ERROR_CODE_ID}}"
                       EAI_ERROR_CODE="{{selectedErrorCode.EAI_ERROR_CODE}}"
                       EAI_ERROR_CODE_DESC="{{selectedErrorCode.EAI_ERROR_CODE_DESC}}"
                       [IS_ERROR]="selectedErrorCode.IS_ERROR === 'Y' ? true : false"
                       mode="edit" (submitFormObj)="submit($event)"></app-error-code-form>

  <app-error-code-form *ngIf="selectedErrorCode == null" mode="create" (submitFormObj)="submit($event)"></app-error-code-form>
  <!-- END OF FORM -->

</p-dialog>


<p-table #dt [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,100]"
         [totalRecords]="errorCodeArray.length" [columns]="cols" [value]="errorCodeArray"
         *ngIf="!isLoading" selectionMode="multiple"
         [(selection)]="selectedErrorCodes"
         (onRowSelect)="onRowSelect($event)"
         (onRowUnselect)="onRowUnselect($event)" [autoLayout]="true"
         [responsive]="true"
         dataKey="EAI_ERROR_CODE">

  <ng-template pTemplate="caption">
    <div style="text-align: right">
      <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
      <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns >
    <tr>

      <th *ngFor="let col of cols" [ngClass]="col.field">
        {{col.header}}
      </th>
      <th style="width: 90px"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-codes let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
    <tr [pSelectableRow]="codes" [pSelectableRowIndex]="rowIndex" >

      <td *ngFor="let col of cols" >
        {{codes[col.field]}}
      </td>
      <td>
        <div class="outer" style="width: 100%;text-align: center">
          <div class="inner"  style="display: inline-block">
            <button pButton class="ui-button-secondary ui-button-severity" icon="pi pi-pencil" [pRowToggler]="codes"
                    (click)="showModal(codes)"></button>
          </div>
          <div class="inner" style="display: inline-block">
            <button pButton class="ui-button-secondary ui-button-severity" icon="pi pi-trash" [pRowToggler]="codes"
                    (click)="delete(codes)" ></button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    {{errorCodeArray?.length}} records.
  </ng-template>
</p-table>
