<div id='cssmenu'>
  <ul>
    <li><img class="logo" src="assets/images/mediahuis.png" style="height: 40px; width: 230px"/></li>
    <li><a routerLink="/catalog" routerLinkActive="active">Services Catalog</a></li>
    <li><a routerLink="/error-code" routerLinkActive="active">Error Codes</a></li>
    <li><a routerLink="/error-service" routerLinkActive="active">Error Codes Services</a></li>
    <li><a routerLink="/configuration" routerLinkActive="active">Services Configuration</a></li>
    <li><a routerLink="/control-data" routerLinkActive="active">Control Data</a></li>
    <li><a routerLink="/control-sequence" routerLinkActive="active">Control Sequence</a></li>
  </ul>
</div>


<router-outlet></router-outlet>
