.ui-progress-spinner {
  position: relative;
  margin-top: 15%;
  margin-left: 50%;
  margin-right: 50%;
}
@keyframes ui-progress-spinner-color {

  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #fefeff;
  }
  66% {
    stroke: #6f6f70;
  }
  80%,
  90% {
    stroke: #ffa700;
  }

}


