.xml{
  white-space: pre;
  font-family: monospace;
}

.ui-autocomplete>.ui-inputtext {
  font-size: 12px;
}

.ui-calendar>.ui-inputtext {
  font-size: 12px;
}

.ui-inputtext {
  font-size: 12px;
}



