<div class="ui-lg-12" style="font-size: 12px;">
  <div class="ui-g-12 ui-md-12 ui-lg-2" >
    <p>Transaction ID:</p>
    <input style="font-size:12px;" type="text" pInputText [(ngModel)]="TRANSACTION_ID" placeholder="Transaction ID" size="30"/>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-2">
    <p>Error Code:</p>
    <input style="font-size:12px;" type="text" pInputText [(ngModel)]="ERROR_CODE" placeholder="Error Code" size="30"/>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-1">
    <p>Status:</p>
    <input style="font-size:12px;" type="text" pInputText [(ngModel)]="STATUS" placeholder="Status" size="10" class="inputtextcontrol" />
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-2" >
    <p>Application Name:</p>
    <p-autoComplete [(ngModel)]="APPLICATION_NAME" [suggestions]="apps_names" (completeMethod)="search($event)" placeholder="Application Name" size="30"></p-autoComplete>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-2">
    <p>From Date:</p>
    <p-calendar [(ngModel)]="fromDate" [showIcon]="true" dateFormat="yy/mm/dd" [ngStyle]="{width: '20px'}" class="inputControlData"></p-calendar>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-2">
    <p>To Date:</p>
    <p-calendar [(ngModel)]="toDate" [showIcon]="true" dateFormat="yy/mm/dd"></p-calendar>
  </div>

  <div class="ui-g-12 ui-md-12 ui-lg-1">
    <p style="visibility: hidden">NONE</p>
    <button pButton  (click)="getControlData()" class="ui-button-success" icon="pi pi-search"></button>
  </div>
  <p-toast></p-toast>
  <p-menubar [model]="items"></p-menubar>
</div>

<div class="ui-g-12" *ngIf="isLoading">
  <p-progressSpinner  [style]="{width: '50px', height: '50px'}" strokeWidth="6"></p-progressSpinner>
</div>

<p-dialog *ngIf="display" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '800px'}" [resizable]="true" [contentStyle]="{'max-height':'600px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" (onHide)="close()">
  <p-header>
    {{xml == 'message' ? 'Service message' : 'Headers' }}
  </p-header>

  <!-- FORM -->
  <div class="xml">
    {{xml == 'message' ? (selectedData.SERVICE_START_MSG | xml) : (selectedData.HEADERS | xml) }}
  </div>

</p-dialog>

<div class="ui-g-12" *ngIf="!isLoading">
  <p-table #dt [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,20,100]"
           [totalRecords]="controlData.length" [columns]="cols" [value]="controlData"
            selectionMode="multiple"
           [(selection)]="selectedDatas"
           (onRowSelect)="onRowSelect($event)"
           (onRowUnselect)="onRowUnselect($event)"
           [responsive]="true" [resizableColumns]="true"
           dataKey="EH_CONTROL_DATA_ID">

    <!--ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
      </div>
    </ng-template-->
    <ng-template pTemplate="header" let-columns >
      <tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of cols" [ngClass]="col.field" pResizableColumn>
          {{col.header}}
        </th>
        <!--th style="width:4em"></th-->
      </tr>
      <!--tr>
        <th style="width: 3em"></th>
        <th *ngFor="let col of cols" [ngSwitch]="col.field">
          <input *ngSwitchCase="'EAI_CATALOG_ID'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
          <input *ngSwitchCase="'APPLICATION_NAME'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'SERVICE_NAME'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <input *ngSwitchCase="'SYSTEM'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" >
          <input *ngSwitchCase="'SERVICE_TYPE'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" >
          <input *ngSwitchCase="'SERVICE_FUNCTION'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" >
          <input *ngSwitchCase="'SERVICE_OPERATION'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" >
          <input *ngSwitchCase="'SERVICE_VERSION'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')">
          <p-dropdown *ngSwitchCase="'RECEIVER_TYPE'" [options]="receivers" (onChange)="dt.filter($event.value, col.field, 'equals')" ></p-dropdown>
          <input *ngSwitchCase="'RECEIVER_DESTINATION'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" >
          <p-dropdown class="dropdown" *ngSwitchCase="'HAS_HANDLING'" [options]="bools"  (onChange)="dt.filter($event.value, col.field, 'equals')" ></p-dropdown>
          <p-dropdown class="dropdown" *ngSwitchCase="'HAS_SEQUENCE'" [options]="bools"  (onChange)="dt.filter($event.value, col.field, 'equals')" ></p-dropdown>
        </th>
      </tr-->


    </ng-template>
    <ng-template pTemplate="body" let-controldata let-columns="columns" let-rowIndex="rowIndex" let-expanded="expanded">
      <tr [pSelectableRow]="controldata" [pSelectableRowIndex]="rowIndex" >
        <td>
          <a href="#" [pRowToggler]="controldata" (click)="selectCatalog(controldata)">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td *ngFor="let col of cols" class="ui-resizable-column " [ngStyle]="{'display': col.display}">
          <div *ngIf="col.subfield;then nested_object_content else normal_content"></div>
          <ng-template #nested_object_content>
            {{controldata[col.field][col.subfield]}}
          </ng-template>
          <ng-template #normal_content>
            {{controldata[col.field] | characters:150}}
          </ng-template>
        </td>
        <!--td>
          <a pButton class="ui-button-secondary ui-button-severity" icon="pi pi-eye" [pRowToggler]="catalog" (click)="selectCatalog(catalog)"></a>
        </td-->
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-controldata let-columns="columns">
      <tr>
        <td [attr.colspan]="columns.length + 1">
          <div class="ui-g ui-fluid" style="font-size:12px;padding:20px">
            <div class="ui-g-5 ui-md-5">
              <div class="ui-g">
                <div class="ui-g-12">
                  <b>Control Data ID:</b> {{controldata.EH_CONTROL_DATA_ID}}
                </div>
                <div class="ui-g-12">
                  <b>Application Name:</b> {{controldata.Catalog.APPLICATION_NAME}}
                </div>
                <div class="ui-g-12">
                  <b>Service Name:</b> {{controldata.SERVICE_NAME}}
                </div>
                <div class="ui-g-12">
                  <b>System:</b> {{controldata.Catalog.SYSTEM}}
                </div>
                <div class="ui-g-12">
                  <b>Sequence ID:</b> {{controldata.EH_CONTROL_SEQUENCE_ID}}
                </div>
                <div class="ui-g-12">
                  <b>Error Code:</b> {{controldata.EAI_ERROR_CODE}}
                </div>
                <div class="ui-g-12">
                  <b>Status:</b> {{controldata.EH_STATUS}}
                </div>
                <div class="ui-g-12">
                  <b>Insert Datetime:</b> {{controldata.UPDATE_DATETIME}}
                </div>
                <div class="ui-g-12">
                  <b>Update Datetime:</b> {{controldata.UPDATE_DATETIME}}
                </div>
              </div>
            </div>
            <div class="ui-g-5 ui-md-5">
              <div class="ui-g">
                <div class="ui-g-12">
                  <b>Headers:</b> {{controldata.HEADERS | characters:600}} <button pButton (click)="showModal(controldata, 'headers')" class="ui-button-success" icon="pi pi-eye"></button>
                </div>
                <div class="ui-g-12">
                  <b>Start Message:</b> {{controldata.SERVICE_START_MSG | characters:600}} <button pButton (click)="showModal(controldata, 'message')" class="ui-button-success" icon="pi pi-eye"></button>
                </div>

              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      {{controlData?.length}} records.
    </ng-template>
  </p-table>
</div>


